<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcx.campus.mapper.LeaveInfoMapper">

    <resultMap id="BaseResultMap" type="com.lcx.campus.domain.LeaveInfo">
            <id property="leaveInfoId" column="leave_info_id" jdbcType="BIGINT"/>
            <result property="leaveType" column="leave_type" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="isOffCampus" column="is_off_campus" jdbcType="CHAR"/>
            <result property="emergencyContact" column="emergency_contact" jdbcType="VARCHAR"/>
            <result property="destination" column="destination" jdbcType="VARCHAR"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="attachmentUrl1" column="attachment_url1" jdbcType="VARCHAR"/>
            <result property="attachmentUrl2" column="attachment_url2" jdbcType="VARCHAR"/>
            <result property="attachmentUrl3" column="attachment_url3" jdbcType="VARCHAR"/>
            <result property="attachmentUrl4" column="attachment_url4" jdbcType="VARCHAR"/>
            <result property="approver" column="approver" jdbcType="VARCHAR"/>
            <result property="approvalStatus" column="approval_status" jdbcType="CHAR"/>
            <result property="approvalTime" column="approval_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="applicant" column="applicant" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        leave_info_id,leave_type,start_time,
        end_time,is_off_campus,emergency_contact,
        destination,reason,attachment_url1,
        attachment_url2,attachment_url3,attachment_url4,
        approver,approval_status,approval_time,
        create_time,applicant
    </sql>
</mapper>
