<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcx.campus.mapper.StudentMapper">

    <select id="selectClassByUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
        select class_id from student where user_id = #{userId}
    </select>
</mapper>
